.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100vh 90vh 50vh 50vh 100vh;
    grid-template-areas: "header header header header header header" 
                            "col1 col1 col2 col2 col3 col3" 
                            "cert1 cert1 . cert2 cert2 ." 
                            ". cert3 cert3 . . cert4"
                            "cont cont cont cont cont cont";
                            grid-gap: 20px;
}

body {
    margin-left: 5%;
    margin-right: 5%;

}

#header {
    grid-area: header;
}

#exp1 {
    grid-area: col1;
}

#exp2 {
    grid-area: col2;
}

#exp3 {
    grid-area: col3;
}

#cert1 {
    grid-area: cert1;
}

#cert2 {
    grid-area: cert2;
}

#cert3 {
    grid-area: cert3;
}

#cert4 {
    grid-area: cert4;
}

#contact {
    grid-area: cont;
}

#header {
    display: flex;
    margin: auto;
}

div {
    border: 1px solid;
}

/* Mobile */

@media screen and (max-width: 650px) {
    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 100vh;
        grid-template-areas: "header" 
        "col1"
        "col2"
        "col3" 
        "cert1"
        "cert2"
        "cert3"
        "cert4"
        "cont";
    }
}